*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

html{
    background-color:bisque;
    font-size: 62.5%;
}

body{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
    background-color:cadetblue;
}

header > h1{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0 10px;
    font-size: 4rem;
    border-bottom: 2px solid rgb(187, 249, 251);
}

article{
    border: 2px solid rgb(137, 236, 188);
    width: 50%;
    margin-top: 50px;
    margin-left: 30px;
    padding: 20px;
    border-radius: 10px;
    background-color: #e0e0e0;
}

article > h2{
    font-size: 3rem;
    margin-bottom: 5px;
}

article > .date{
    font-size: 1.4rem;
    margin-bottom: 10px;
}

article > p{
    font-size: 1.6rem;
    line-height: 1.5;
}